    <div class="head-roatan-life">
        <div class="row">
            <div class="columns">
                <div class="innerhead">
                    <img src="<?php echo $this->baseUrl; ?>/assets/images/header.jpg" />
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="row">
                <aside class="medium-3 columns">
                    <div class="title">Real Estate</div>
                    <?php echo $this->LeftMenu(); ?>
                </aside>
                <div class="medium-9 columns">
                    <h1><?php echo $this->row['name']; ?></h1>
                    <?php echo stripslashes($this->row['report_cont']); ?>
                </div>
                <aside class="medium-3 columns">
                    <div class="title">Discover Roatan</div>
                    <?php echo $this->RightMenu(); ?>
                </aside>
            </div>
        </div>
    </div>