    <header>

        <div class="topintro">

            <a>about us</a>

			<div>

				<div class="title">about us</div>

				<p>We hold that our God-given purpose is twofold.</p>

				<p>1. We are to love the Lord our God with all of our heart, soul, mind and strength.</p>

				<p>2. We are to reach and equip people for Christ. This involves sharing Jesus and His message as well as helping people become more like Jesus.</p>

				<p>A team of godly men lead our people by purpose, using prayer and the Bible. In addition to these men, numerous ministry teams involve others. Everyone is encouraged to be involved in a small group and practice the five purposes of the church: worship, fellowship, Christ-likeness, ministry and sharing the good news of Jesus in your world. A team of staff members help run the operations of the church.</p>

				<a href="#">more info »</a>

			</div>

        </div>

    </header>

	<div class="row">

		<div class="columns text-center">

			<img src="<?php echo $this->baseUrl.'/assets/images/logo.png'; ?>" alt="" />



			<div class="title campus"><span>Select a Campus</span></div>



			<ul class="medium-block-grid-3 campuses">

				<li>

					<a href="http://northridgesabetha.com/page">

						<p>Service Times<br />8:30am &amp; 11:00am</p>

						<img src="<?php echo $this->baseUrl.'/assets/images/intro-sabetha.png'; ?>" alt="Sabetha" />

						<strong>Sabetha</strong>

						<p>316 Lincoln Street<br /><span>Sabetha, KS 66534</span></p>

					</a>

					<p><a class="map" target="_blank" href="https://www.google.com/maps/dir/316+Lincoln+Street,Sabetha,KS,66534,United+States/316+Lincoln+Street,Sabetha,KS,66534,United+States">map</a></p>

				</li>

				<li>

					<a href="http://northridgeseneca.com/page">

						<p>Service Times<br />10:00am</p>

						<img src="<?php echo $this->baseUrl.'/assets/images/intro-seneca.png'; ?>" alt="Seneca" />

						<strong>Seneca</strong>

						<p>601 Castle Street<br /><span>Seneca, KS 66538</span></p>

					</a>

					<p><a class="map" target="_blank" href="https://www.google.com/maps/dir/601+Castle+Street,Seneca,KS,66538,United+States/601+Castle+Street,Seneca,KS,66538,United+States">map</a></p>

				</li>

				<li>

					<a href="http://northridgenebraska.com/page">

						<p>Service Times<br />
						10:00am</p>

						<img src="<?php echo $this->baseUrl.'/assets/images/intro-nebraska.png'; ?>" alt="Nebraska" />

						<strong>Nebraska</strong>

						<p>1820 Morton Street<br /><span>Falls City, NE 68355</span></p>

					</a>

					<p><a class="map" target="_blank" href="https://www.google.com/maps/dir/1820+Morton+Street,Falls+City,NE,68355,United+States/1820+Morton+Street,Falls+City,NE,68355,United+States">map</a></p>

				</li>

			</ul>

		</div>

	</div>