<div class="row">
    <div class="columns">
        <div class="cont">
            <div class="row">
                <div class="columns">
                    <div class="title"><?php echo $this->DomainName(); ?></div>
                    <hr />
					<h1>Page does not exist</h1>
					<br />
					<p>Are you lost? click on the logo or home button to go back to front page.</p>
                </div>
            </div>
        </div>
    </div>
</div>