<?php $this->headScript()->prependFile($this->baseUrl.'/assets/scripts/ckeditor/ckeditor.js', 'text/javascript'); ?>
<?php $this->headScript()->captureStart() ?>
$(function() {
    CKEDITOR.replace('rcont');
    CKEDITOR.replace('econt');
    CKEDITOR.replace('tcont');
});
<?php $this->headScript()->captureEnd() ?>
<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Create new report</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 with-sidebar">
            <form role="form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6">
                        <input name="name" id="name" class="form-control inline-input" type="text" placeholder="Report Name" />
                    </div>
                    <div class="col-md-6">
                        <select name="page_id" id="page_id" class="form-control">
                            <?php foreach ($this->pages as $page) {
                                echo '<option value="'.$page->id.'">'.$page->title.'</option>';
                            } ?>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="rcont">Report Content:</label>
                        <textarea name="rcont" id="rcont"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="econt">Email Content:</label>
                        <textarea name="econt" id="econt">Hello %NAME%, - Thank you for visiting our web site.The information you requested can be viewed at: %REPORT_ADR% - Some systems may require you to copy and paste the link into the Address line of their browser and click Go, to receive the report. Best wishes, The Management Team</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="tcont">Thank You Content:</label>
                        <textarea name="tcont" id="tcont">Thank you! for contacting us. An email containing the link to your report has ben sent to your email address. Please check your inbox in a few minutes, if it doesn't arrive soon check your spam filter.</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Status:</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="slider-frame primary big">
                            <span data-on-text="Active" data-off-text="Suspended" class="slider-button on big">Active</span>
                        </div>
                    </div>
                    <input type="hidden" name="status" id="status" value="1">
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-glow primary" value="Create report"> 
                    <span>OR&nbsp;&nbsp;</span>
                    <a href="<?php echo $this->LinkTo('admin/reports'); ?>" class="reset">Go Back</a>
                </div>
            </form>
        </div>

        <!-- side right column -->
        <div class="col-lg-3 form-sidebar pull-right">
            <h6>Status</h6>
            <p>On => Will show on website<br />Off => Will be suspended from website</p>
        </div>
    </div>
</div>
