<?php $this->headScript()->prependFile($this->baseUrl.'/assets/scripts/ckeditor/ckeditor.js', 'text/javascript'); ?>
<?php $this->headScript()->captureStart() ?>
$(function() {
    CKEDITOR.replace('rcont');
    CKEDITOR.replace('econt');
    CKEDITOR.replace('tcont');
});
<?php $this->headScript()->captureEnd() ?>
<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Create new report</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 with-sidebar">
            <form role="form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <input type="hidden" name="id" value="<?php echo $this->row['id']; ?>" />
                <div class="form-group">
                    <div class="col-md-6">
                        <input name="name" id="name" class="form-control inline-input" type="text" placeholder="Report Name" value="<?php echo $this->row['name']; ?>" />
                    </div>
                    <div class="col-md-6">
                        <select name="page_id" id="page_id" class="form-control">
                            <?php foreach ($this->pages as $page) {
                                if($page->id==$this->row['page_id']) {
                                    echo '<option value="'.$page->id.'" selected>'.$page->title.'</option>';
                                } else {
                                    echo '<option value="'.$page->id.'">'.$page->title.'</option>';
                                }
                            } ?>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="rcont">Report Content:</label>
                        <textarea name="rcont" id="rcont"><?php echo $this->row['report_cont']; ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="econt">Email Content:</label>
                        <textarea name="econt" id="econt"><?php echo $this->row['email_cont']; ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="tcont">Thank You Content:</label>
                        <textarea name="tcont" id="tcont"><?php echo $this->row['thankyou_cont']; ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Status:</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="slider-frame primary big">
                            <?php if($this->row['status']) { ?>
                            <span data-on-text="Active" data-off-text="Suspended" class="slider-button on big">Active</span>
                            <?php } else { ?>
                            <span data-on-text="Active" data-off-text="Suspended" class="slider-button off big">Suspended</span>
                            <?php } ?>
                        </div>
                    </div>
                    <input type="hidden" name="status" id="status" value="1">
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-glow primary" value="Edit report"> 
                    <span>OR&nbsp;&nbsp;</span>
                    <a href="<?php echo $this->LinkTo('admin/reports'); ?>" class="reset">Go Back</a>
                </div>
            </form>
        </div>

        <!-- side right column -->
        <div class="col-lg-3 form-sidebar pull-right">
            <h6>Status</h6>
            <p>On => Will show on website<br />Off => Will be suspended from website</p>
        </div>
    </div>
</div>
