<div id="pad-wrapper" class="datatables-page">
    <div class="table-wrapper row header">
        <div class="col-lg-10">
            <h3>Manage Reports</h3>
        </div>
        <div class="col-lg-2 pull-right">
                <a href="<?php echo $this->LinkTo('admin/reports/add'); ?>" class="btn-flat success pull-right">+ New Report</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dataTable" id="results">
                <thead>
                    <tr>
                        <th width="125">Status</th>
                        <th>Name</th>
                        <th width="350">Page</th>
                        <th width="150">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($this->results as $row) { ?>
                <tr>
                    <td>
                        <?php if($row['status']==1) { ?>
                            <span class="label label-success">Active</span>
                        <?php } else { ?>
                            <span class="label label-danger">Suspended</span>
                        <?php } ?>
                    </td>
                    <td><?php echo stripslashes($row['name']); ?></td>
                    <td><?php echo $row['page_name']; ?></td>
                    <td>
                        <a href="<?php echo $this->LinkTo('/admin/reports/edit/id/'.$row['id']); ?>">Edit</a> | 
                        <a onClick="return del();" href="<?php echo $this->LinkTo('/admin/reports/delete/id/'.$row['id']); ?>">Delete</a>
                    </td>
                </tr>
                <?php } ?>
                </tbody>
            </table>
        </div>
    </div>

</div>
