        <section id="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cont blog">
                        <h1>Latest Posts</h1>
                        <?php
                        foreach ($this->results as $row) {
                            echo '<h2><a href="'.$this->LinkTo('blog/'.$row['permalink']).'">'.stripslashes($row['title']).'</a></h2>';
                            $pos = strpos(strip_tags($row['content']), ' ', 250);
                            echo substr($row['content'],0,$pos) . ' <a href="'.$this->LinkTo('blog/'.$row['permalink']).'">more ...</a>';

                        }
                        ?>
                    </div>
                </div>
            </div>
        </section>