        <section id="content">
            <div class="row">
                <aside class="medium-4 medium-push-11 columns blog">
                    <h2>Latest Posts</h2>
                    <div class="side desp">
                        <ul>
                        <?php
                        $rez = $this->LatestBlogPosts();
                        foreach ($rez as $row) {
                            echo '<li><a href="'.$this->LinkTo('blog/'.$row['permalink']).'">'.$row['title'].'</a></li>';
                        }
                        ?>
                        </ul>
                    </div>
                </aside>
                <div class="medium-10 medium-pull-5 columns">
                    <div class="cont blog">
                       <h1><?php echo stripslashes($this->post['title']); ?></h1>
                        <div class="author">By <?php echo $this->post['author']; ?> on <?php echo date("d/F/Y",$this->post['publish_date']); ?></div>
                        <?php echo stripslashes($this->post['content']); ?>
                        <p>
                            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F<?php echo $_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']; ?>&amp;width&amp;layout=button_count&amp;action=recommend&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=194780010714194" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                        </p>
                        <?php
                        if(count($this->comments)>0) {
                            echo "<h3>Recent comments:</h3><br />";
                            foreach ($this->comments as $comment) {
                                echo '<div class="subj">'.$comment->subject .'</div>';
                                echo '<div class="auth">By '.$comment->author.' on '.date("d/M/Y",$comment->regdate).'</div><br />';
                                echo nl2br($comment->message).'<br /><br /><hr /><br />';
                            }
                        }
                        ?>
                        <?php if($this->postcom) { ?>
                        <p><i>Your comment has been submitted and is awaiting moderation, thank you.</i></p>
                        <?php } else { ?>
                        <form method="post" action="" name="comments" id="comments" data-abide>
                            <input type="hidden" name="bid" id="bid" value="<?php echo $this->post['id'] ?>" />
                            <input type="hidden" name="email" id="email" value="" />
                            <h3>Leave Comment:</h3>
                            <div class="row">
                                <div class="columns">
                                    <label for="author"><b>Name:*</b></label>
                                    <input type="text" name="author" id="author" required />
                                    <small class="error">Please enter your name</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <label for="subject"><b>Subject:*</b></label>
                                    <input type="text" name="subject" id="subject" required />
                                    <small class="error">Please enter the message subject</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <label for="message"><b>Message:*</b></label>
                                    <textarea name="message" id="message" rows="5" required></textarea>
                                    <small class="error">Please enter your comment</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </section>