<?php $this->headScript()->captureStart() ?>
$(function() {

    $.validator.setDefaults({
        ignore: []
    });

    $("#formSend").validate({
        invalidHandler: function(event, validator) {
            var errors = validator.numberOfInvalids();
            if(errors) {
                $("#formsettings").slideDown('fast');
            }
        }
    });

});
<?php $this->headScript()->captureEnd() ?>
<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Create new Form</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 ">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="200" valign="top">
                        <div class="box">
                            <div class="head">Form Items</div>
                            <div class="body">
                                <ul id="formFields">
                                    <li id="fText" class="btn btn-block frmField"><i class="icon-tumblr icon-white"></i> Text</li>
                                    <li id="fTextarea" class="btn btn-block frmField"><i class="icon-reorder icon-white"></i> Textarea</li>
                                    <li id="fSelect" class="btn btn-block frmField"><i class="icon-collapse icon-white"></i> Select</li>
                                    <li id="fCheckbox" class="btn btn-block frmField"><i class="icon-check icon-white"></i> Checkbox</li>
                                    <li id="fRadio" class="btn btn-block frmField"><i class="icon-circle-blank icon-white"></i> Radio</li>
                                    <li id="fInstructions" class="btn btn-block frmField"><i class="icon-comment icon-white"></i> Instructions</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td width="25">&nbsp;</td>
                    <td valign="top">
                        <form method="post" action="" id="formSend">
                        <div id="nav-menu">
                            <div id="head">
                                <div class="row">
                                    <div class="col-sm-6 text-left"><input type="text" name="name" id="form_name" placeholder="Form Name" required /></div>
                                    <div class="col-sm-6"><a href="" class="form_settings">Form Settings</a></div>
                                </div>
                            </div>
                            <div id="formsettings">
                                <label for="emailto">Who is going to receive the data?</label>
                                <input type="text" name="emailto" id="emailto" class="form-control" required />
                                <label for="subject">What subject the form will have?</label>
                                <input type="text" name="subject" id="subject" class="form-control" required />
                                <label for="form_message">Display Message</label>
                                <label for="type-text" class="type_label">
                                    <input type="radio" value="text" id="type-text" class="form-success-type" name="message_type" checked="checked"> <span>Text</span>
                                </label>
                                <label for="type-page" class="type_label">
                                    <input type="radio" value="page" id="type-page" class="form-success-type" name="message_type"> <span>Page</span>
                                </label>
                                <label for="type-redirect" class="type_label">
                                    <input type="radio" value="redirect" id="type-redirect" class="form-success-type" name="message_type"> <span>Redirect</span>
                                </label>
                                <p class="description description-wide">
                                    <textarea id="message-text" name="message_text" class="form-control" rows="3" style="display: none;">Your form was successfully submitted. Thank you for contacting us.</textarea>
                                    <select name="message_page" id="message-page" class="form-control" style="display: none;">
                                        <option value="">Select Page</option>
                                        <?php foreach($this->pages as $page) {
                                            echo '<option value="'.$page->permalink.'">'.$page->title.'</option>';
                                        }
                                        ?>
                                    </select>
                                    <input type="text" class="form-control" id="message-redirect" name="message_redirect" placeholder="http://" style="display: none;">
                                </p>
                            </div>
                            <div id="body">
                                <ul id="sortable">
                                </ul>
                            </div>
                            <div id="foot"><input type="submit" name="save_menu" class="svbtn" value="Save Form"></div>
                        </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <!-- side right column -->
        <div class="col-lg-3 form-sidebar sidebarnopad pull-right">
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>Form Items:</strong><br />
                Use the icons from the form items box on the left to add a new field on your form.
            </div>
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>Form Settings:</strong><br />
                Set email subject, who is going to receive the emails and what message the user will see after submit.
            </div>
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>Form Tabs:</strong><br />
                You can drag and drop the form tabs in the middle to order how your fields will appear on the form.
            </div>
        </div>
    </div>
</div>