<div id="pad-wrapper" class="datatables-page">
    <div class="table-wrapper row header">
        <div class="col-lg-10">
            <h3>Forms</h3>
        </div>
        <div class="col-lg-2 pull-right">
                <a href="<?php echo $this->LinkTo('admin/forms/add'); ?>" class="btn-flat success pull-right">+ New Form</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dataTable" id="results">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th width="250">Code</th>
                        <th width="150">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($this->results as $row) { ?>
                <tr>
                    <td><?php echo stripslashes($row['name']); ?></td>
                    <td>[form id=<?php echo $row['id']; ?>]</td>
                    <td><a href="<?php echo $this->LinkTo('/admin/forms/edit/id/'.$row['id']); ?>">Edit</a> | <a href="<?php echo $this->LinkTo('/admin/forms/delete/id/'.$row['id']); ?>" class="delete">Delete</a></td>
                </tr>
                <?php } ?>
                </tbody>
            </table>
        </div>
    </div>

</div>