<?php $this->headScript()->prependFile($this->baseUrl.'/assets/scripts/ckeditor/ckeditor.js', 'text/javascript'); ?>
<?php $this->headScript()->captureStart() ?>
$(function() {
    CKEDITOR.replace('text');
    CKEDITOR.replace('thankyou_cont');

    $("#contact").change(function(){

        if($(this).val()=="standard" || $(this).val()=="b2b") {
            $('.thankyou_wrap').removeClass('hide');
        } else {
            $('.thankyou_wrap').addClass('hide');
        }

    });

});
<?php $this->headScript()->captureEnd() ?>
<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Create new page</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 with-sidebar">
            <form role="form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input name="title" id="title" class="form-control inline-input" type="text" placeholder="Page Title..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <input name="permalink" id="permalink" class="form-control inline-input" type="text" placeholder="Permalink...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <textarea name="seo_keywords" class="form-control" rows="3" placeholder="Seo Keywords..."></textarea>
                    </div>
                    <div class="col-lg-6">
                        <textarea name="seo_description" class="form-control" rows="3" placeholder="Seo Description..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <textarea name="content" id="text" placeholder="Content..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <select name="site" id="site" class="form-control">
                            <option value="">All websites</option>
                            <option value="northridgesabetha.com">northridgesabetha.com</option>
                            <option value="northridgeseneca.com">northridgeseneca.com</option>
                            <option value="northridgenebraska.com">northridgenebraska.com</option>
                            <option value="northridgehumboldt.com">northridgehumboldt.com</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <select name="contact" id="contact" class="form-control">
                            <option value="">Select contact form</option>
                            <option value="standard">Standard</option>
                            <option value="b2b">B2B</option>
                        </select>
                    </div>
                </div>
                <div class="form-group thankyou_wrap hide">
                    <div class="col-lg-12">
                        <textarea name="thankyou_cont" id="thankyou_cont">
                            <p>Thank you for contacting us. We will respond as soon as possible, normally within two business days.</p>
                            <p>Blessings,<br />The Team at Northridge.</p>
                        </textarea>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Header:</label>
                    </div>
                    <div class="col-sm-12">
                        <input name="header" id="header" type="file">
                    </div>
                </div>
                //-->
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Status:</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="slider-frame primary big">
                            <span data-on-text="Active" data-off-text="Suspended" class="slider-button on big">Active</span>
                        </div>
                    </div>
                    <input type="hidden" name="status" id="status" value="1">
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-glow primary" value="Create page">
                    <span>OR&nbsp;&nbsp;</span>
                    <a href="<?php echo $this->LinkTo('admin/pages'); ?>" class="reset">Go Back</a>
                </div>
            </form>
        </div>

        <!-- side right column -->
        <div class="col-lg-3 form-sidebar pull-right">
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>Permalink:</strong><br />
                Leave it empty, the system will create it for you, unless you want greater control then you can add your own
            </div>
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>SEO:</strong><br />
                Use the SEO boxes to define keywords and description for each page to improve your Search engine rankings
            </div>
            <h6>Status</h6>
            <p>On => Will show on website<br />Off => Will be suspended from website</p>
        </div>
    </div>
</div>
