<?php $this->headScript()->prependFile($this->baseUrl.'/assets/scripts/ckeditor/ckeditor.js', 'text/javascript'); ?>
<?php $this->headScript()->captureStart() ?>
$(function() {
    CKEDITOR.replace('text');
    CKEDITOR.replace('thankyou_cont');

    $("#contact").change(function(){

        if($(this).val()=="standard" || $(this).val()=="b2b") {
            $('.thankyou_wrap').removeClass('hide');
        } else {
            $('.thankyou_wrap').addClass('hide');
        }

    });

});
<?php $this->headScript()->captureEnd() ?>
<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Edit page</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 with-sidebar">
            <form role="form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <input type="hidden" name="id" value="<?php echo $this->page['id']; ?>" />
                <div class="form-group">
                    <div class="col-sm-12">
                        <input name="title" id="title" class="form-control inline-input" type="text" placeholder="Page Title..." value="<?php echo $this->page['title']; ?>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <input name="permalink" id="permalink" class="form-control inline-input" type="text" placeholder="Permalink..." value="<?php echo $this->page['permalink']; ?>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <textarea name="seo_keywords" class="form-control" rows="3" placeholder="Seo Keywords..."><?php echo $this->page['seo_keywords']; ?></textarea>
                    </div>
                    <div class="col-lg-6">
                        <textarea name="seo_description" class="form-control" rows="3" placeholder="Seo Description..."><?php echo $this->page['seo_description']; ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <textarea name="content" id="text" placeholder="Content..."><?php echo htmlentities($this->page['content']); ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <select name="site" id="site" class="form-control">
                            <option value="">All websites</option>
                            <option value="northridgesabetha.com" <?php if($this->page['site']=="northridgesabetha.com") { echo"selected"; } ?>>northridgesabetha.com</option>
                            <option value="northridgeseneca.com" <?php if($this->page['site']=="northridgeseneca.com") { echo"selected"; } ?>>northridgeseneca.com</option>
                            <option value="northridgenebraska.com" <?php if($this->page['site']=="northridgenebraska.com") { echo"selected"; } ?>>northridgenebraska.com</option>
                            <option value="northridgehumboldt.com" <?php if($this->page['site']=="northridgehumboldt.com") { echo"selected"; } ?>>northridgehumboldt.com</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <select name="contact" id="contact" class="form-control">
                            <option value="">Select contact form</option>
                            <option value="standard" <?php if($this->page['contact']=="standard") { echo"selected"; } ?>>Standard</option>
                            <option value="b2b" <?php if($this->page['contact']=="b2b") { echo"selected"; } ?>>B2B</option>
                        </select>
                    </div>
                </div>
                <div class="form-group thankyou_wrap <?php if($this->page['contact']=="" || $this->page['contact']=="report") { ?>hide<?php } ?>">
                    <div class="col-lg-12">
                        <textarea name="thankyou_cont" id="thankyou_cont"><?php echo $this->page['thankyou_cont']; ?></textarea>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Header:</label>
                    </div>
                    <div class="col-sm-12">
                        <input name="header" id="header" type="file">
                    </div>
                </div>
                //-->
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Status:</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="slider-frame primary big">
                            <?php if($this->page['status']) { ?>
                            <span data-on-text="Active" data-off-text="Suspended" class="slider-button on big">Active</span>
                            <?php } else { ?>
                            <span data-on-text="Active" data-off-text="Suspended" class="slider-button off big">Suspended</span>
                            <?php } ?>
                        </div>
                    </div>
                    <input type="hidden" name="status" id="status" value="<?php echo $this->page['status']; ?>">
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-glow primary" value="Update page">
                    <span>OR&nbsp;&nbsp;</span>
                    <a href="<?php echo $this->LinkTo('admin/pages'); ?>" class="reset">Go Back</a>
                </div>
            </form>
        </div>
        <!-- side right column -->
        <div class="col-lg-3 form-sidebar pull-right">
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>Permalink:</strong><br />
                Leave it empty, the system will create it for you, unless you want greater control then you can add your own
            </div>
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>SEO:</strong><br />
                Use the SEO boxes to define keywords and description for each page to improve your Search engine rankings
            </div>
            <h6>Status</h6>
            <p>On => Will show on website<br />Off => Will be suspended from website</p>
        </div>
    </div>
</div>
