<?php $this->headScript()->captureStart() ?>
$(document).ready(function() {

    var dTable = $('#newresults').dataTable({
        "sPaginationType": "full_numbers"
    });

    $('#site').change(function() {
        if($(this).val()=="") {
            dTable.fnFilter("",1,false);
        } else {
            dTable.fnFilter("^"+$(this).val()+"$",1,true);
        }
    });

});
<?php $this->headScript()->captureEnd() ?>
<div id="pad-wrapper" class="datatables-page">
    <div class="table-wrapper row header">
        <div class="col-lg-5">
            <h3>Manage Pages</h3>
        </div>
        <div class="col-lg-5">
            <select name="site" id="site">
                <option value="">All</option>
                <option value="northridgesabetha.com">northridgesabetha.com</option>
                <option value="northridgeseneca.com">northridgeseneca.com</option>
                <option value="northridgenebraska.com">northridgenebraska.com</option>
                <option value="northridgehumboldt.com">northridgehumboldt.com</option>
            </select>
        </div>
        <div class="col-lg-2 pull-right">
            <a href="<?php echo $this->LinkTo('admin/pages/add'); ?>" class="btn-flat success pull-right">+ New Page</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dataTable" id="newresults">
                <thead>
                    <tr>
                        <th width="100">Status</th>
                        <th width="250">Site</th>
                        <th>Title</th>
                        <th width="150">Publish Date</th>
                        <th width="150">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($this->results as $row) { ?>
                <tr>
                    <td>
                        <?php if($row['status']==1) { ?>
                            <span class="label label-success">Active</span>
                        <?php } else { ?>
                            <span class="label label-danger">Suspended</span>
                        <?php } ?>
                    </td>
                    <td><?php echo ($row['site'])?$row['site']:'All'; ?></td>
                    <td><?php echo stripslashes($row['title']); ?></td>
                    <td><?php echo date("d/M/Y",$row['publish_date']); ?></td>
                    <td>
                        <a href="<?php echo $this->LinkTo('/page/'.$row['permalink']); ?>" target="_blank">View</a> |
                        <a href="<?php echo $this->LinkTo('/admin/pages/edit/id/'.$row['id']); ?>">Edit</a> |
                        <a onClick="return del();" href="<?php echo $this->LinkTo('/admin/pages/delete/id/'.$row['id']); ?>">Delete</a>
                    </td>
                </tr>
                <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
