<?php $this->headLink()->appendStylesheet($this->baseUrl.'/assets/scripts/jqueryui/css/jquery-ui.css'); ?>
<?php $this->headScript()->prependFile('//code.jquery.com/ui/1.10.4/jquery-ui.js', 'text/javascript'); ?>
<?php $this->headScript()->prependFile($this->baseUrl.'/assets/scripts/ckeditor/ckeditor.js', 'text/javascript'); ?>
<?php $this->headScript()->captureStart() ?>
$(function() {
    $("#date").datepicker({
        changeMonth: true,
        changeYear: true
    });
    CKEDITOR.replace('text');
});
<?php $this->headScript()->captureEnd() ?>
<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Create new blog post</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 with-sidebar">
            <form role="form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input name="title" id="title" class="form-control inline-input" type="text" placeholder="Link Name..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <input name="permalink" id="permalink" class="form-control inline-input" type="text" placeholder="Permalink...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input name="author" id="author" class="form-control inline-input" type="text" placeholder="Author...">
                    </div>
                    <div class="col-lg-6">
                        <input name="date" id="date" class="form-control inline-input" type="text" placeholder="Date..." value="<?php echo date("m/d/Y"); ?>">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label><b>Content:</b></label>
                        <textarea name="content" id="text" placeholder="Content..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Status:</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="slider-frame primary big">
                            <span data-on-text="Active" data-off-text="Suspended" class="slider-button on big">Active</span>
                        </div>
                    </div>
                    <input type="hidden" name="status" id="status" value="1">
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-glow primary" value="Create blog post"> 
                    <span>OR&nbsp;&nbsp;</span>
                    <a href="<?php echo $this->LinkTo('admin/pages'); ?>" class="reset">Go Back</a>
                </div>
            </form>
        </div>

        <!-- side right column -->
        <div class="col-lg-3 form-sidebar pull-right">
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>Permalink:</strong><br />
                Leave it empty, the system will create it for you, unless you want greater control then you can add your own
            </div>
            <h6>Status</h6>
            <p>On => Will show on website<br />Off => Will be suspended from website</p>
        </div>
    </div>
</div>