<div id="pad-wrapper" class="datatables-page">
    <div class="table-wrapper row header">
        <div class="col-lg-8">
            <h3>Manage Blog Posts</h3>
        </div>
        <div class="col-lg-4 text-right">
            <a href="<?php echo $this->LinkTo('admin/comments'); ?>" style="margin-right:15px;">All Comments</a> 
            <a href="<?php echo $this->LinkTo('admin/blog/add'); ?>" class="btn-flat success pull-right">+ New Blog Post</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dataTable" id="results">
                <thead>
                    <tr>
                        <th width="100">Status</th>
                        <th>Title</th>
                        <th width="25%">Permalink</th>
                        <th width="150">Author</th>
                        <th width="125">Publish Date</th>
                        <th width="200">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($this->results as $row) { ?>
                <tr>
                    <td>
                        <?php if($row['status']==1) { ?>
                            <span class="label label-success">Active</span>
                        <?php } else { ?>
                            <span class="label label-danger">Suspended</span>
                        <?php } ?>
                    </td>
                    <td><?php echo stripslashes($row['title']); ?></td>
                    <td><?php echo stripslashes($row['permalink']); ?></td>
                    <td><?php echo stripslashes($row['author']); ?></td>
                    <td><?php echo date("d/M/Y",$row['publish_date']); ?></td>
                    <td>
                        <a href="<?php echo $this->LinkTo('/admin/comments/index/id/'.$row['id']); ?>">Comments</a> | 
                        <a href="<?php echo $this->LinkTo('/blog/'.$row['permalink']); ?>" target="_blank">View</a> | 
                        <a href="<?php echo $this->LinkTo('/admin/blog/edit/id/'.$row['id']); ?>">Edit</a> | 
                        <a onClick="return del();" href="<?php echo $this->LinkTo('/admin/blog/delete/id/'.$row['id']); ?>">Delete</a>
                    </td>
                </tr>
                <?php } ?>
                </tbody>
            </table>
        </div>
    </div>

</div>