<style>
table {
    padding: 15px; }
h2 {
    color: #690506;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold; }
table td {
    font-family: 'Raleway';
    font-size: 12px;
    line-height: 24px; }
</style>
<div>
    <table width="700">
        <tr>
            <td colspan="2"><h2><?php echo $this->row['name']; ?>, <?php echo $this->row['position']; ?></h2></td>
        </tr>
        <tr>
            <td width="220" valign="top">
                <?php if($this->row['main_pic']) { ?>
                <img src="<?php echo $this->baseUrl.'/upload/team/'.$this->row['main_pic']; ?>">
                <?php } else { ?>
                <img src="<?php echo $this->baseUrl.'/upload/team/'.$this->row['pic']; ?>">
                <?php } ?>
            </td>
            <td valign="top">
                <?php echo $this->row['bio']; ?>
                <hr />
                <a href="mailto:<?php echo $this->row['email']; ?>"><?php echo $this->row['email']; ?></a>
            </td>
        </tr>
    </table>
</div>