<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Create new user</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 with-sidebar">
            <form role="form" action="" method="post" enctype="multipart/form-data" class="new-user form-horizontal">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="user">Username:</label>
                        <input type="text" class="form-control" name="user" id="user" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="pass">Password:</label>
                        <input type="password" class="form-control" name="pass" id="pass" required />
                    </div>
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-glow primary" value="Create User"> 
                    <span>&nbsp; OR &nbsp; </span>
                    <a href="<?php echo $this->LinkTo('admin/pages'); ?>" class="reset">Go Back</a>
                </div>
            </form>
        </div>

    </div>
</div>