<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Create new user</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 with-sidebar">
            <form role="form" action="" method="post" enctype="multipart/form-data" class="new-user form-horizontal">
            	<input type="hidden" name="id" value="<?php echo $this->row['id']; ?>" />
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="user">Username:</label>
                        <input type="text" class="form-control" name="user" id="user" value="<?php echo $this->row['user']; ?>" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="pass">Password:</label>
                        <input type="password" class="form-control" name="pass" id="pass" />
                    </div>
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-glow primary" value="Update User"> 
                    <span>&nbsp; OR &nbsp; </span>
                    <a href="<?php echo $this->LinkTo('admin/pages'); ?>" class="reset">Go Back</a>
                </div>
            </form>
        </div>

        <!-- side right column -->
        <div class="col-lg-3">
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>Note:</strong><br />
                Leave the password field empty if you don't want to change it.
            </div>
        </div>
    </div>
</div>