<div id="pad-wrapper" class="datatables-page">
    <div class="table-wrapper row header">
        <div class="col-lg-10">
            <h3>Manage Admin Users</h3>
        </div>
        <div class="col-lg-2 pull-right">
                <a href="<?php echo $this->LinkTo('admin/adminusers/add'); ?>" class="btn-flat success pull-right">+ New User</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table width="100%" class="dataTable" id="results">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th width="150">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($this->results as $row) { ?>
                    <tr>
                        <td><?php echo $this->escape($row['user']); ?></a></td>
                        <td><a href="<?php echo $this->LinkTo('/admin/adminusers/edit/id/'.$row['id']); ?>">Edit</a> | <a onClick="return del();" href="<?php echo $this->LinkTo('/admin/adminusers/delete/id/'.$row['id']); ?>">Delete</a></td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>