<?php $this->headScript()->appendFile('//code.jquery.com/ui/1.10.3/jquery-ui.js','text/javascript'); ?>
<?php $this->headScript()->appendFile($this->baseUrl.'/assets/scripts/sortable/jquery.ui.nestedSortable.js','text/javascript'); ?>
<?php $this->headScript()->appendFile($this->baseUrl.'/assets/scripts/message/jquery.message.js','text/javascript'); ?>
<?php $this->headScript()->captureStart() ?>
$(document).ready(function(){

	$('.sortable').nestedSortable({
		forcePlaceholderSize:true,
		handle:'dl',
		helper:'clone',
		items:'li',
		maxLevels:99,
		opacity:.6,
		placeholder:'placeholder',
		revert:250,
		tabSize:25,
		tolerance:'pointer',
		toleranceElement: '> dl'
	});

    $('.svbtn').click(function(){
        serialized = $('ol.sortable').nestedSortable('serialize');
        $("#ser").val(serialized);
    });

    $('#cust-btn').click(function(){

		var name = $("#cust-name").val();
		var url = $("#cust-url").val();

		var encodedName = name.replace(/ /g,"_");
		var encodedURL = url.replace(/ /g,"_");

		if(name == "") {
			$().message('Please enter a name for the menu.');
		} else {
			$('.sortable').append('<li id="menu-item-'+encodedName+'['+encodedURL+']-0" class="item-0"><dl class="menu-item-bar"><dt class="menu-item-handle"><span class="item-title">'+name+'</span><span class="item-controls"><span class="item-type"><a class="remove" id="item-0">Delete</a></span></span></dt></dl>');
		}

	});

    $('#pages-btn').click(function(){

        $('input[type=checkbox]').each(function () {
			if($(this).prop('checked')) {
				$.get("<?php echo $this->LinkTo('admin/menus/getmenuid'); ?>", { name: $(this).attr('title'), id: $(this).val() },
					function(data){
						$('.sortable').append(data);
				});
				$(this).attr('checked', false);
			}
		});

	});

//	$('.remove').live('click', function() {
//		var id = $(this).attr('id');
//		$("."+id).remove();
//		return false;
//	});

	$(document).on('click', '.remove', function() {
		var id = $(this).attr('id');
		$("."+id).remove();
		return false;
	});

});

<?php $this->headScript()->captureEnd() ?>

<div id="pad-wrapper" class="datatables-page">
	<div class="table-wrapper row header">
		<div class="col-sm-8">
			<h3>Manage Menus</h3>
		</div>
		<div class="col-sm-4">
			<form action="" method="post">
			<select name="site" id="site" class="form-control" onchange="this.form.submit();">
				<option value="">Select website</option>
				<option value="northridgesabetha.com" <?php if($this->site=="northridgesabetha.com") { ?>selected<?php } ?>>northridgesabetha.com</option>
				<option value="northridgeseneca.com" <?php if($this->site=="northridgeseneca.com") { ?>selected<?php } ?>>northridgeseneca.com</option>
				<option value="northridgenebraska.com" <?php if($this->site=="northridgenebraska.com") { ?>selected<?php } ?>>northridgenebraska.com</option>
				<option value="northridgehumboldt.com" <?php if($this->site=="northridgehumboldt.com") { ?>selected<?php } ?>>northridgehumboldt.com</option>
			</select>
			</form>
		</div>
	</div>
	<?php if($this->showMenuBuild) { ?>
	<div class="row">
		<div class="col-md-3">
			<div class="box">
				<div class="head">Custom Links</div>
				<div class="body form-horizontal">
					<div class="form-group">
						<label for="cust-url" class="col-sm-2 control-label">URL</label>
						<div class="col-sm-10 inp">
							<input type="text" class="form-control" id="cust-url" name="cust-url" placeholder="http://">
						</div>
					</div>
					<div class="form-group">
						<label for="cust-name" class="col-sm-2 control-label">Label</label>
						<div class="col-sm-10 inp">
							<input type="text" class="form-control" id="cust-name" name="cust-name" placeholder="">
						</div>
					</div>
					<p align="right">
						<input type="submit" class="cust-btn" value="Add to Menu" name="cust-btn" id="cust-btn">
					</p>
				</div>
			</div>
			<div class="box">
				<div class="head">Pages</div>
				<div class="body">
					<div class="pagesbox">
						<ul>
						<?php foreach($this->pages as $page) { ?>
							<li><label><input type="checkbox" value="<?php echo $page['id']; ?>" title="<?php echo $page['title']; ?>"> <?php echo $page['title']; ?></label></li>
						<?php } ?>
						</ul>
					</div>
					<p align="right">
						<span id="pgload"></span>
						<input type="submit" class="cust-btn" value="Add to Menu" name="pages-btn" id="pages-btn" />
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<form method="post" action="">
				<input type="hidden" name="ser" id="ser">
				<input type="hidden" name="site" id="site" value="<?php echo $this->site; ?>" />
				<div id="nav-menu">
					<div id="head"><input type="submit" name="save_menu" class="svbtn" value="Save Menu"></div>
					<div id="body">
						<?php echo $this->mainmenu; ?>
					</div>
					<div id="foot"><input type="submit" name="save_menu" class="svbtn" value="Save Menu"></div>
				</div>
			</form>
		</div>
	</div>
	<?php } else { ?>
	<div class="row">
		<div class="col-md-12">
			<h4>Please select the website for witch you want to build the menu.</h4>
		</div>
	</div>
	<?php } ?>
</div>
