<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Create new team member</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 with-sidebar">
            <form role="form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-4">
                        <input name="name" id="name" class="form-control inline-input" type="text" placeholder="Name...">
                    </div>
                    <div class="col-lg-4">
                        <input name="position" id="position" class="form-control inline-input" type="text" placeholder="Position...">
                    </div>
                    <div class="col-lg-4">
                        <input name="email" id="email" class="form-control inline-input" type="text" placeholder="Email...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <textarea name="bio" id="bio" rows="5" class="form-control" class="placeholder" placeholder="Bio..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label for="pic">Picture:</label>
                        <input name="pic" id="pic" class="form-control" type="file">
                    </div>
                    <div class="col-lg-6">
                        <label for="main_pic">Inner Picture:</label>
                        <input name="main_pic" id="main_pic" class="form-control" type="file">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label for="site">Site:</label>
                        <select name="site" id="site" class="form-control">
                            <option value="northridgesabetha.com">northridgesabetha.com</option>
                            <option value="northridgeseneca.com">northridgeseneca.com</option>
                            <option value="northridgenebraska.com">northridgenebraska.com</option>
                            <option value="northridgehumboldt.com">northridgehumboldt.com</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label for="rank">Order:</label>
                        <input name="rank" id="rank" class="form-control inline-input" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Status:</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="slider-frame primary big">
                            <span data-on-text="Active" data-off-text="Suspended" class="slider-button on big">Active</span>
                        </div>
                    </div>
                    <input type="hidden" name="status" id="status" value="1">
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-glow primary" value="Create">
                    <span>OR&nbsp;&nbsp;</span>
                    <a href="<?php echo $this->LinkTo('admin/team'); ?>" class="reset">Go Back</a>
                </div>
            </form>
        </div>

        <!-- side right column -->
        <div class="col-lg-3 form-sidebar pull-right">
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>Picture:</strong><br />
                The picture will be automatically be resized to 200x250 pixels
            </div>
            <h6>Status</h6>
            <p>On => Will show on website<br />Off => Will be suspended from website</p>
        </div>
    </div>
</div>
