<div id="pad-wrapper">
    <div class="row header">
        <div class="col-sm-12">
            <h3>Edit team member</h3>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-lg-9 with-sidebar">
            <form role="form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <input type="hidden" name="id" value="<?php echo $this->row['id']; ?>">
                <div class="form-group">
                    <div class="col-lg-4">
                        <input name="name" id="name" class="form-control inline-input" type="text" placeholder="Name..." value="<?php echo $this->row['name']; ?>">
                    </div>
                    <div class="col-lg-4">
                        <input name="position" id="position" class="form-control inline-input" type="text" placeholder="Position..." value="<?php echo $this->row['position']; ?>">
                    </div>
                    <div class="col-lg-4">
                        <input name="email" id="email" class="form-control inline-input" type="text" placeholder="Email..." value="<?php echo $this->row['email']; ?>">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <textarea name="bio" id="bio" rows="5" class="form-control" class="placeholder" placeholder="Bio..."><?php echo $this->row['bio']; ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label>Picture:</label><br />
                        <?php if($this->row['pic']) {
                            echo '<img src="'.$this->baseUrl.'/upload/team/'.$this->row['pic'].'"><br /><br />';
                        }
                        ?>
                        <input name="pic" id="pic" class="form-control" type="file">
                    </div>
                    <div class="col-lg-6">
                        <label>Inner Picture:</label><br />
                        <?php if($this->row['main_pic']) {
                            echo '<img src="'.$this->baseUrl.'/upload/team/'.$this->row['main_pic'].'" height="250"><br /><br />';
                        }
                        ?>
                        <input name="main_pic" id="main_pic" class="form-control" type="file">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label for="site">Site:</label>
                        <select name="site" id="site" class="form-control">
                            <option value="northridgesabetha.com" <?php if($this->page['site']=="northridgesabetha.com") { echo"selected"; } ?>>northridgesabetha.com</option>
                            <option value="northridgeseneca.com" <?php if($this->page['site']=="northridgeseneca.com") { echo"selected"; } ?>>northridgeseneca.com</option>
                            <option value="northridgenebraska.com" <?php if($this->page['site']=="northridgenebraska.com") { echo"selected"; } ?>>northridgenebraska.com</option>
                            <option value="northridgehumboldt.com" <?php if($this->page['site']=="northridgehumboldt.com") { echo"selected"; } ?>>northridgehumboldt.com</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label for="rank">Order:</label>
                        <input name="rank" id="rank" class="form-control inline-input" type="text" value="<?php echo $this->row['rank']; ?>" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label>Status:</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="slider-frame primary big">
                            <span data-on-text="Active" data-off-text="Suspended" class="slider-button <?php echo ($this->row['status']==1)?"on":"off"; ?> big">
                                <?php echo ($this->row['status']==1)?"Active":"Suspended"; ?>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" name="status" id="status" value="<?php echo $this->row['status']; ?>">
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-glow primary" value="Create">
                    <span>OR&nbsp;&nbsp;</span>
                    <a href="<?php echo $this->LinkTo('admin/team'); ?>" class="reset">Go Back</a>
                </div>
            </form>
        </div>

        <!-- side right column -->
        <div class="col-lg-3 form-sidebar pull-right">
            <div class="alert alert-info hidden-tablet">
                <i class="icon-lightbulb pull-left"></i>
                <strong>Picture:</strong><br />
                The picture will be automatically be resized to 200x250 pixels
            </div>
            <h6>Status</h6>
            <p>On => Will show on website<br />Off => Will be suspended from website</p>
        </div>
    </div>
</div>
