<?php $this->headScript()->captureStart() ?>
$(document).ready(function() {

    var dTable = $('#newresults').dataTable({
        "sPaginationType": "full_numbers"
    });

    $('#site').change(function() {
        if($(this).val()=="") {
            dTable.fnFilter("",1,false);
        } else {
            dTable.fnFilter("^"+$(this).val()+"$",1,true);
        }
    });

});
<?php $this->headScript()->captureEnd() ?>
<div id="pad-wrapper" class="datatables-page">
    <div class="table-wrapper row header">
        <div class="col-lg-5">
            <h3>Manage Pages</h3>
        </div>
        <div class="col-lg-4">
            <select name="site" id="site">
                <option value="">All</option>
                <option value="northridgesabetha.com">northridgesabetha.com</option>
                <option value="northridgeseneca.com">northridgeseneca.com</option>
                <option value="northridgenebraska.com">northridgenebraska.com</option>
                <option value="northridgehumboldt.com">northridgehumboldt.com</option>
            </select>
        </div>
        <div class="col-lg-3 pull-right">
            <a href="<?php echo $this->LinkTo('admin/team/add'); ?>" class="btn-flat success pull-right">+ New Team Member</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dataTable" id="newresults">
                <thead>
                    <tr>
                        <th width="100">Status</th>
                        <th width="75">Order</th>
                        <th width="200">Site</th>
                        <th width="100">Pic</th>
                        <th>Name</th>
                        <th width="150">Email</th>
                        <th width="150">Position</th>
                        <th width="125">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($this->results as $row) { ?>
                <tr>
                    <td>
                        <?php if($row['status']==1) { ?>
                            <span class="label label-success">Active</span>
                        <?php } else { ?>
                            <span class="label label-danger">Suspended</span>
                        <?php } ?>
                    </td>
                    <td><?php echo $row['rank']; ?></td>
                    <td><?php echo $row['site']; ?></td>
                    <td><?php echo ($row['pic'])?'<img src="'.$this->baseUrl.'/upload/team/'.$row['pic'].'" width="50" />':''; ?></td>
                    <td><?php echo stripslashes($row['name']); ?></td>
                    <td><?php echo stripslashes($row['email']); ?></td>
                    <td><?php echo stripslashes($row['position']); ?></td>
                    <td><a href="<?php echo $this->LinkTo('/admin/team/edit/id/'.$row['id']); ?>">Edit</a> | <a onClick="return del();" href="<?php echo $this->LinkTo('/admin/team/delete/id/'.$row['id']); ?>">Delete</a></td>
                </tr>
                <?php } ?>
                </tbody>
            </table>
        </div>
    </div>

</div>
