	<div class="row">
		<div class="columns">
			<div class="cont home">
				<div class="row">
					<div class="columns">
						<?php if(count($this->slider)>0) { ?>
							<div class="homeslide">
							<?php foreach ($this->slider as $slide) { ?>
								<?php if($slide['link']) { ?>
								<div data-thumb="<?php echo $this->baseUrl; ?>/upload/sliders/<?php echo $slide['image']; ?>" data-src="<?php echo $this->baseUrl; ?>/upload/sliders/<?php echo $slide['image']; ?>"><a href="<?php echo $slide['link']; ?>"><img src="<?php echo $this->baseUrl; ?>/upload/sliders/<?php echo $slide['image']; ?>" alt="" /></a></div>
								<?php } else { ?>
								<div data-thumb="<?php echo $this->baseUrl; ?>/upload/sliders/<?php echo $slide['image']; ?>" data-src="<?php echo $this->baseUrl; ?>/upload/sliders/<?php echo $slide['image']; ?>"><img src="<?php echo $this->baseUrl; ?>/upload/sliders/<?php echo $slide['image']; ?>" alt="" /></div>
								<?php } ?>
							<?php } ?>
							</div>
						<?php } else { ?>
							<img src="<?php echo $this->baseUrl; ?>/assets/images/welcome-home.png" alt="welcome home" />
						<?php } ?>
					</div>
				</div>
				<div class="row">
					<div class="columns">
						<hr />
					</div>
				</div>
				<div class="row">
					<div class="columns">
						<ul class="medium-block-grid-<?php echo count($this->banners); ?> small-block-grid-1 homemenu">
							<?php foreach ($this->banners as $row) { ?>
							<li><a href="<?php echo $row->link; ?>"><img src="<?php echo $this->baseUrl; ?>/upload/banners/<?php echo $row->image; ?>" alt="" /></a></li>
							<?php } ?>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>