<div class="row">
    <div class="columns">
        <div class="cont">
            <div class="row">
                <?php if($this->RightMenu()) { ?>
                <aside class="large-2 medium-2 large-push-10 medium-push-10 columns">
                    <nav>
                        <?php echo $this->RightMenu(); ?>
                    </nav>
                </aside>
                <?php } ?>
                <div class="<?php if($this->RightMenu()) { ?>large-10 medium-10 large-pull-2 medium-pull-2<?php } ?> columns">
                    <div class="title"><?php echo $this->DomainName(); ?></div>
                    <hr />
                    <h1><?php echo $this->page['title']; ?></h1>
                    <br />
                    <?php
                    echo stripslashes($this->BuildContent($this->page['content'],@$_POST));
                    if($this->page['contact']!="") {
                        echo $this->ContactForms($this->page,@$_POST);
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>