<!DOCTYPE html>
<html>
<head>
    <?php echo $this->headMeta(); ?>
    <title>Content Management System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="<?php echo $this->baseUrl;?>/assets/css/fontello.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl;?>/assets/css/admin.css" rel="stylesheet" type="text/css" />
    <?php echo $this->headLink(); ?>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="<?php echo $this->baseUrl;?>/assets/scripts/jquery.dataTables.min.js"></script>
    <script src="<?php echo $this->baseUrl;?>/assets/scripts/sortable/jquery.ui.nestedSortable.js"></script>
    <script src="<?php echo $this->baseUrl;?>/assets/scripts/message/jquery.message.js"></script>
    <script src="<?php echo $this->baseUrl;?>/assets/scripts/jquery.validate.js"></script>
    <script src="<?php echo $this->baseUrl;?>/assets/scripts/admin.js"></script>
    <?php echo $this->headScript(); ?>

</head>
<body>

    <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->LinkTo('/admin'); ?>">CONTENT MANAGEMENT SYSTEM</a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="dropdown">
                <a href="<?php echo $this->LinkTo('/'); ?>" class="dropdown-toggle hidden-xs hidden-sm">View Website</a>
            </li>            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                    Welcome!
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo $this->LinkTo('admin/index/logout'); ?>">Logout</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <?php echo $this->AdminMenu(); ?>
    </div>
    <!-- end sidebar -->

    <!-- main container -->
    <div class="content">
        <?php echo $this->layout()->content; ?>
    </div>
    <!-- end main container -->

</body>
</html>