<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NorthRidge Church</title>
    <meta name="description" content="">
    <?php echo $this->headMeta(); ?>
    <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/foundation/css/normalize.css" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/foundation/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl; ?>/assets/scripts/colorbox/colorbox.css"/>
    <?php echo $this->headLink(); ?>
    <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/css/style.css" />
    <!--[if IE 8]><link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/css/ie8.css" /><![endif]-->
    <script src="<?php echo $this->baseUrl; ?>/assets/foundation/js/vendor/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <?php echo $this->layout()->content; ?>

<script src="<?php echo $this->baseUrl; ?>/assets/foundation/js/vendor/jquery.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/foundation/js/foundation.min.js"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/scripts/gmaps.js"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/scripts/slick/slick.min.js"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/scripts/colorbox/jquery.colorbox.js"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/scripts/misc.js"></script>