<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><?php echo $this->escape($this->title); ?> NorthRidge Church</title>
    <meta name="description" content="">
    <?php echo $this->headMeta(); ?>
    <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/foundation/css/normalize.css" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/foundation/css/foundation.min.css" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/scripts/lightslider/css/lightslider.min.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl; ?>/assets/scripts/colorbox/colorbox.css"/>
    <?php echo $this->headLink(); ?>
    <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/css/style.css" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/css/<?php echo $this->LoadDomainStyle(); ?>" />
    <!--[if IE 8]><link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/assets/css/ie8.css" /><![endif]-->
    <script src="<?php echo $this->baseUrl; ?>/assets/foundation/js/vendor/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <header>
        <div class="toplinks">
            <div class="row">
                <div class="columns">
                    <?php echo $this->DomainChanger(); ?>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-8 columns logo">
                <a href="<?php echo $this->LinkTo('/page'); ?>"><?php echo $this->LoadDomainLogo(); ?></a>
            </div>
            <div class="medium-10 columns">
                <nav class="top-bar" data-topbar>
                    <ul class="title-area">
                        <li class="name"></li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>
                    <section class="top-bar-section">
                        <?php echo $this->TopMenu(); ?>
                    </section>
                </nav>
            </div>
        </div>
    </header>

    <?php echo $this->layout()->content; ?>

    <footer>
        <div class="row">
            <div class="medium-4 columns logo">
                <img src="<?php echo $this->baseUrl; ?>/assets/images/logo-footer.jpg" alt="">
            </div>
            <div class="medium-4 columns text-center">
                <a href="http://www.facebook.com/pages/NorthRidge-Church/189230657765770" target="_blank"><em class="ico-sn-facebook"></em></a>
                <a href="https://vimeo.com/user16407693" target="_blank"><em class="ico-vimeo"></em></a>
                <a href="#"><em class="ico-sn-twitter"></em></a>
                <a href="mailto:<?php echo $this->LoadDomainEmail(); ?>"><em class="ico-mail"></em></a>
                <p class="phoneadr"><?php echo $this->LoadDomainAdr(); ?></p>
                <a class="button" href="/webmail" target="_blank">sign in</a>
                <a class="button" href="<?php echo $this->LinkTo('page/contact-us'); ?>">contact us</a>
            </div>
            <div class="medium-4 columns copyright">
                <p>"Reaching and Equipping People for Christ"</p>
                <span>copyright <?php echo date('Y'); ?> nrc</span> <a href="http://dynamicwebsitedevelopment.com" target="_blank">Internet Solutions by DWD</a></div>
        </div>
    </footer>

<script src="<?php echo $this->baseUrl; ?>/assets/foundation/js/vendor/jquery.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/foundation/js/foundation.min.js"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/scripts/gmaps.js"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/scripts/lightslider/js/lightslider.min.js"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/scripts/colorbox/jquery.colorbox.js"></script>
<script src="<?php echo $this->baseUrl; ?>/assets/scripts/misc.js"></script>