<!DOCTYPE html>
<html class="login-bg">
<head>
    <?php echo $this->headMeta(); ?>
    <title>Content Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="<?php echo $this->baseUrl;?>/assets/css/admin.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <?php echo $this->headLink(); ?>
</head>
<body>

    <div class="login-wrapper">
        <div class="box">
            <div class="content-wrap">
                <form name="form" method="post" action="<?php echo $this->LinkTo('admin/index/login'); ?>">
                <h6>Welcome! Please login</h6>
                <?php if($this->err_msg) { ?>
                    <div class="alert alert-danger"><?php echo $this->err_msg; ?></div>
                <?php } ?>
                <label for="user" class="text-left">Username:</label>
                <input class="form-control" type="text" id="user" name="user" placeholder="Username">
                <label for="user" class="text-left">Password:</label>
                <input class="form-control" type="password" id="pass" name="pass" placeholder="Your password">
                <br /><br />
                <button type="submit" class="btn-glow primary login">Log in</button>
                </form>
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="<?php echo $this->baseUrl;?>/assets/scripts/admin.js"></script>
    <?php echo $this->headScript(); ?>

</body>
</html>