<div id="pad-wrapper" class="datatables-page">
    <div class="table-wrapper row header">
        <div class="col-lg-10">
            <h3>Manage Blog Comments</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dataTable" id="results">
                <thead>
                    <tr>
                        <th width="100">Status</th>
                        <th width="100">Date</th>
                        <th width="150">Author</th>
                        <th width="250">Subject</th>
                        <th>Message</th>
                        <th width="75">Action</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($this->results as $row) { ?>
                <tr>
                    <td>
                        <?php if($row['status']==1) { ?>
                            <span class="label label-success"><a style="color:#FFF" href="<?php echo $this->LinkTo('/admin/comments/update/cid/'.$row['id'].'/status/0/id/'.$this->id); ?>">Active</a></span>
                        <?php } else { ?>
                            <span class="label label-danger"><a style="color:#FFF" href="<?php echo $this->LinkTo('/admin/comments/update/cid/'.$row['id'].'/status/1/id/'.$this->id); ?>">Suspended</a></span>
                        <?php } ?>
                    </td>
                    <td><?php echo date("d/M/Y",$row['regdate']); ?></td>
                    <td><?php echo stripslashes($row['author']); ?></td>
                    <td><?php echo stripslashes($row['subject']); ?></td>
                    <td><?php echo stripslashes($row['message']); ?></td>
                    <td><a onClick="return del();" href="<?php echo $this->LinkTo('/admin/comments/delete/id/'.$row['id']); ?>">Delete</a></td>
                </tr>
                <?php } ?>
                </tbody>
            </table>
        </div>
    </div>

</div>